body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}
header{
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.9)) , url(./Images/street-3720369_1920.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;  
}
ul{
    float: right;
    list-style-type: square ;
    margin:40px;
}
ul li{
    display: inline-block;
}
ul li a{
    text-decoration: none;
    color: white;
    padding: 5px 20px;
    border: 1px solid #fff;
}
ul li a:hover{
    background-color: #fff;
    color: #000;
}

.container{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    
}
.text{
    width: 60%;
    margin-bottom: 15px;
    border-radius: 20px;
    padding: 20px;
    color:whitesmoke;
    text-align: center;
    font-size: 20px;
    
}
h3{
    margin:40px;
    text-transform: uppercase;
    text-decoration: whitesmoke;
    text-decoration: underline;
    
   
    
}


.galleri{
    background-color: #333;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
    padding-bottom: 50px;
    
    
}
h1{
    margin: 40px;
    color: whitesmoke;
    text-align: center;
    text-transform: uppercase;
    padding: 5px 20px;
    border: 1px solid #fff;
}



img{
    display: inline;
    width: 400px;
    max-width: 100%; 
    border-radius: 10px;
    padding: 5px;
}


